<!DOCTYPE html>
<html>
  <head>
    <title>Cobellas</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<div class= "navegacion">
  			<div class= "contenedor">
  				<nav>
  					<div id= "buscador" class="col-sm-4 col-md-3 clearfix active-search">
  						<form id="searchbox">
  							<input id="search" type="text" placeholder="Buscar producto">
  							<span class="icon-search2" id="buttonsearch" ></span>
  						</form>
  					</div>
  					<div class="cuenta">
  						<ul id="header_user">
  							<li>
  								<a href="#">
  									<span class="icon-users"></span>
  									<span>Cuenta</span>
  								</a>
  							</li>
  						</ul>
  					</div>
  				</nav>	
  			</div>
  		</div>
  			<div>
  				<div class="navegacion">
  					<div class="contenedorMenu">
  						<div class="logo">
  							<a href="#" title="Cobellas">
  								<%= image_tag "cobellas.png", :alt => "cobellas", :title => "cobellas", :class => "logo img-responsive"%>
								
							</a>
  						</div>
  						<div class="carrito ">
  							<a href="#" class="icon-cart" id="canasta"></a>
  						</div>
  						<div class="menu">
  							<nav class="menuPrincipal">
  							<div class="items">
  								<ul class="">
  								 <li><a href="">ROSTRO</a></li>
  								 <li><a href="">CABELLO</a></li>
  								 <li><a href="">LABIOS</a></li>
  								 <li><a href="">OJOS</a></li>
  								 <li><a href="">UÑAS</a></li>
  								 <li><a href="">ACCESORIOS</a></li>
  								 <li><a href="">CONTACTO</a></li>
  								</ul>
  							</div>	
  							</nav>
  						</div>
  					</div>
  					
  				</div>
  			</div>	
  	</header>
  	<section>
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <%= image_tag "maquillaje.jpg", :alt => "maa", :title => "maa", :class => "img-responsive"%>
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>
		    <div class="item">
		       <%= image_tag "pelo1.jpg", :alt => "ma", :title => "ma", :class => "img-responsive"%>
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>
		     <div class="item">
		       <%= image_tag "belleza.jpg", :alt => "ma", :title => "ma", :class => "img-responsive"%>
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>
		    ...
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="icon-circle-left slider" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="icon-circle-right slider" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
		<div class="margen destacado">
			<div class="nuevos">
				<h2>Nuevos</h2>
			</div>
		</div>	
  	</section>
    <%= yield %>
    <footer>
    <div class="navegacion">
    	<div class="pie">
	    	<div class="col-sm-4  col-md-4  infoPie">
	    		<h4>Información</h4>
	    		<ul>
	    			<li>Encuentranos en: Calle 26 No. 32-06 Esq </li>
	    			<li>Diagonal a Domino's Pizza Tuluá Valle</li>
	    			<li>Llámanos ahora: 316-317-76-19</li>
	    			<li>Email: <span>comercializadorabellas@gmail.com</span></li>
	    		</ul>
	    	</div>
	    	<div class="col-sm-3  col-md-3 infoPie">
	    		<h4>Mi cuenta</h4>
	    		<ul>
	    			<li><a href="">Mis compras</a></li>
	    			<li><a href="">Mis direcciones</a></li>
	    			<li><a href="">Mis datos personales</a></li>
	    			<li><a href="">Cerrar sesión</a></li>
	    		</ul>
	    	</div>	
	    	<div class="col-sm-4  col-md-4 infoPie icono">
	    		<h4>Siguenos en</h4>
	    		<span class="icon-facebook2"></span>
	    		<span class="icon-instagram"></span>
	    		<span class="icon-whatsapp"></span>
	    	</div>	
	    </div>	
    </div>		
    </footer>
  </body>
</html>
